
/target
=======
# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
*.patch
.idea/
bison-webapp/

# Others
META-INF/
target/
logs/

src/main/cloud-webapp/static/common/img/upload
src/main/cloud-webapp/static/common/img/upload
src/main/cloud-webapp/static/common/bower_plugins/