
/target
=======
# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
*.patch
.idea/

# Others
META-INF/
target/
logs/

cloud-webapp/src/main/webapp/static/common/upload
cloud-webapp/src/main/webapp/static/admin/img/upload
cloud-webapp/src/main/webapp/static/front/img/upload
cloud-webapp/src/main/webapp/static/common/img/upload
cloud-webapp/src/main/webapp/static/common/bower_plugins/